doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    // WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
    block title
      title Bay Area Night Doulas
    link(rel='stylesheet', href='/app.css')
  body
    header.navbar
      .navbar-inner
        .container-fluid
          a(href='/')
            img(src='/images/logo.jpg' alt="Bay Area Night Doulas")
          nav
            ul#header-nav.nav
              li
                a(href='/contact') CONTACT
              li
                a(href='/resources') RESOURCES
              li
                a(href='/team') TEAM
              li
                a(href='/about') ABOUT
    block header_image
    .container-fluid
      .row
        #contentArea.col-sm-10.col-sm-offset-1
          block content
    .push
    footer.navbar
      .navbar-inner
        .container-fluid
          .copyright
            | Bay Area Night Doulas ©
            | #{ new Date().getFullYear() }.
            | All rights reserved.
          nav
            .pull-right
              a(href='https://www.facebook.com/pages/Bay-Area-Night-Doulas/285623904839261')
                img(src='/images/fbooklogo.png')
              a(href='http://www.yelp.com/biz/bay-area-night-doulas-san-francisco')
                img(src='/images/yelplogo.png')
    script(src='/vendor.js')
    script(src='/app.js')
    script.
      require('initialize');
    block custom_js 
